<mat-toolbar color="primary">
    <h2>Weather app</h2>
    <form [formGroup]="form">
        <mat-slider min="1" max="14" step="1" color="accent">
          <input matSliderThumb [formControlName]="'days'">
        </mat-slider>
        <h2>{{ form.get('days')?.value }}Day(s)</h2>
        <mat-form-field color="accent">
            <mat-label>Choose capital</mat-label>
            <mat-select  required [formControlName]="'capital'">
              <mat-option *ngFor="let capital of capitals" [value]="capital">
                {{capital.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-toolbar>    

<div class="spinner" *ngIf="requestState === 'loading'">
    <mat-spinner></mat-spinner>
</div>

<div class="main" *ngIf="requestState === 'success'">
    <div class="card" *ngFor="let time of weatherData!.daily.time; let i = index">
        <p>Date: {{time | date: "dd.MM.yyyy"}} </p>
        <p>Precipitation: {{weatherData!.daily.precipitation_sum[i]}} {{weatherData!.daily_units.precipitation_sum}}</p>
        <p>Max temperature: {{weatherData!.daily.temperature_2m_max[i]}} {{weatherData!.daily_units.temperature_2m_max}}</p>
        <p>Max temperature: {{weatherData!.daily.temperature_2m_min[i]}} {{weatherData!.daily_units.temperature_2m_min}}</p>
        <p>Sunrise time: {{weatherData!.daily.sunrise[i] | date: "HH:mm"}}</p>
        <p>Sunset time: {{weatherData!.daily.sunset[i] | date: "HH:mm"}}</p>
    </div>
</div>
